<header class="header_area">
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" [routerLink]="['/']"><img src="img/MiniBlogLogo.png" alt=""></a>
      </div>
      <button class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target=".navbar-collapse"
              aria-label="Toggle navigation"
              [attr.aria-expanded]="isExpanded"
              (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse offset" [ngClass]="{ show: isExpanded }">
        <ul class="nav navbar-nav menu_nav mr-auto justify-content-center">
          <li class="nav-item"
              [routerLinkActive]="['link-active']"
              [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link" [routerLink]="['/']">Home</a>
          </li>
          <li class="nav-item dropdown" *ngIf="isAuthenticated | async">
            <a class="dropdown-toggle nav-link" data-toggle="dropdown" href="#">Admin Tools<span class="caret"></span></a>
            <div class="dropdown-menu">
              <a class="dropdown-item" [routerLink]="['/createBlogPost']">Create BlogPost</a>
              <a class="dropdown-item" [routerLink]="['/editBlogPosts']">Edit BlogPosts</a>
            </div>
          </li>
        </ul>
        <ul class="nav navbar-nav">
          <ng-container *ngIf="isAuthenticated | async; else elseblock">
            <li class="nav-item image-nav-item">
              <a class="nav-link" [routerLink]='["/authentication/profile"]' title="Manage">Hello {{ userName | async }}!</a>
              <a [routerLink]='["/authentication/profile"]' title="Manage"> <img src="{{userAvatar | async}}" default="img/AvatarPlaceholder.png" class="avatar" /></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]='["/authentication/logout"]' [state]='{ local: true }' title="Logout">Logout</a>
            </li>
          </ng-container>
          <ng-template #elseblock>
            <li class="nav-item">
              <a class="nav-link" [routerLink]='["/authentication/register"]'>Register</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]='["/authentication/login"]'>Login</a>
            </li>
          </ng-template>
        </ul>
      </div>
    </div>
  </nav>
</header>
