<header class="header_area">
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']"><img src="img/MiniBlogLogo.png" alt=""></a>
      <button class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target=".navbar-collapse"
              aria-label="Toggle navigation"
              [attr.aria-expanded]="isExpanded"
              (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse offset" [ngClass]="{ show: isExpanded }">
        <ul class="nav navbar-nav menu_nav justify-content-center">
          <li class="nav-item"
              [routerLinkActive]="['link-active']"
              [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link" [routerLink]="['/']">Home</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link" [routerLink]="['/counter']">Counter</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link" [routerLink]="['/fetch-data']">Fetch data</a>
          </li>
          <ng-container *ngIf="isAuthenticated | async; else elseblock">
            <li class="nav-item">
              <a class="nav-link" [routerLink]='["/authentication/profile"]' title="Manage">Hello {{ userName | async }}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]='["/authentication/logout"]' [state]='{ local: true }' title="Logout">Logout</a>
            </li>
          </ng-container>
          <ng-template #elseblock>
            <li class="nav-item">
              <a class="nav-link" [routerLink]='["/authentication/register"]'>Register</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]='["/authentication/login"]'>Login</a>
            </li>
          </ng-template>
        </ul>
        <ul class="nav navbar-nav navbar-right navbar-social">
          <li><a href="#"><fa-icon [icon]="faFacebook"></fa-icon></a></li>
          <li><a href="#"><fa-icon [icon]="faTwitter"></fa-icon></a></li>
          <li><a href="#"><fa-icon [icon]="faInstagram"></fa-icon></a></li>
          <li><a href="#"><fa-icon [icon]="faGoogle"></fa-icon></a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>
