.navbar-brand {
  margin-right: 30px
}

.navbar .nav .nav-item {
  margin-right: 45px
}

.nav-item {
  font-family: "Lora",serif;
  color: #3a414e;
  font-size: 15px;
  text-transform: capitalize;
  font-weight: 700;
  padding: 30px 0;
}

  .nav-item a {
    color: #3a414e;
  }

.navbar a:hover {
  color: #ff9907
}

.navbar .nav-item:hover {
  color: #ff9907;
}

.avatar {
  width: 32px;
  height: 32px;
}

.image-nav-item {
  display: inline-flex;
}

.dropdown-menu {
  top: auto;
}
