<ng-container *ngIf="isAuthenticated | async; else elseblock">
  <li class="nav-item">
    <a class="nav-link text-dark" [routerLink]='["/authentication/profile"]' title="Manage">Hello {{ userName | async }}</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-dark" [routerLink]='["/authentication/logout"]' [state]='{ local: true }' title="Logout">Logout</a>
  </li>
</ng-container>
<ng-template #elseblock>
  <li class="nav-item">
    <a class="nav-link text-dark" [routerLink]='["/authentication/register"]'>Register</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-dark" [routerLink]='["/authentication/login"]'>Login</a>
  </li>
</ng-template>
