<ngb-carousel *ngIf="latestBlogPosts" class="text-lg-center" [showNavigationArrows]="showNavigationArrows" [interval]="5000" [showNavigationIndicators]="showNavigationIndicators">
  <ng-template ngbSlide *ngFor="let blogPost of latestBlogPosts">
    <div class="picsum-img-wrapper">
      <img src="{{blogPost.backgroundImage}}" default="img/ImagePlaceholder.png">
    </div>
    <div class="carousel-caption">
      <h5>{{blogPost.title}}</h5>
      <p>{{blogPost.content}}</p>
    </div>
  </ng-template>
</ngb-carousel>
